venv/.gitignore
venv/main.py
venv/pyvenv.cfg
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/django-admin.exe
venv/Scripts/dmypy.exe
venv/Scripts/flake8.exe
venv/Scripts/mypy.exe
venv/Scripts/mypyc.exe
venv/Scripts/pip.exe
venv/Scripts/pip3.10.exe
venv/Scripts/pip3.exe
venv/Scripts/py.test.exe
venv/Scripts/pycodestyle.exe
venv/Scripts/pyflakes.exe
venv/Scripts/pytest.exe
venv/Scripts/python_d.exe
venv/Scripts/python.exe
venv/Scripts/pythonw_d.exe
venv/Scripts/pythonw.exe
venv/Scripts/sqlformat.exe
venv/Scripts/stubgen.exe
venv/Scripts/stubtest.exe
venv/Scripts/wheel.exe
